#DEFAULTCONT {
	z-index:2;
}

#DRUG {
	z-index:1;
}

#inclPanel, #exclPanel {
background-color:#858585;
border-style:solid;
border-width:1px;
position:"absolute";
}

#EXCLUSIONGRP, #exclPanel {
background-color:transparent;
font-size:11px;
font-weight:bold;
height:200px;
left:5px;
padding-left:3px;
position:relative;
top:45px;
width:415px;
}

#INCLUSIONCONTAINER,#EXCLUSIONCONTAINER {
height:120px;
left:0px;
overflow-x:hidden;
overflow-y:auto;
position:relative;
top:10px;
width:410px;
}

#INCLUSIONGRP, #inclPanel {
background-color:transparent;
font-size:11px;
font-weight:bold;
height:210px;
left:5px;
padding-left:3px;position:relative;
top:10px;
width:415px;
}

/*override tab formatting for text-only tabs*/
#MappingRule {
padding-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-bottom: 10px;
}

#procedureTreeView {
background-color:white;
border-style:solid;
border-width:1px;
height:350px;
left:5px;
overflow:auto;
padding-left:1em;
position:relative;
scrollbar-base-color:rgb(255,255,255);
text-align:left;
top:5px;
width:400px;
z-index:auto;
}

#proceduregroup {
height:100px;
left:5px;3
padding-left:3px;
position:relative;
top:30px;
width:430px;
}

.address {
color:rgb(160,160,160);
font-size:85%;
font-weight:light;
height:40px;
left:280px;
position:absolute;
text-align:left;
top:620px;
width:500px;
}

.arguTextArea {
background-color:white;
border-style:solid;
border-width:1px;
height:100px;
overflow:auto;
padding-left:1em;
position:relative;
scrollbar-base-color:rgb(255,255,255);
text-align:left;
width:87%;
z-index:auto;
}

.ban {
background-color:rgb(74,140,110);
border-color:rgb(74,140,110);
border-style:solid;
border-width:3px;
color:white;
font-weight:bold;
height:20px;
left:0;
position:absolute;
text-align:left;
top:0;
vertical-align:middle;
width:1000px;
}

.chartArea {
background:white;
border:1px solid black;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}

.chartArea .plotArea {
background:#BAE8FB;
}

.chartArea .plotArea .gridContainer .gridLine {
color:gray;
}

.chartTitle {
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
font-weight:bold;
}

.clear {
border-style:none;
height:35px;
left:130px;
position:absolute;
top:490px;
width:35px;
}

.comments {
font-size:80%;
font-style:italic;
font-weight:light;
}

.debugPane {
color:red;
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
}

.drugresult {
background-color:rgb(219,219,219);
border-color:rgb(132,195,156);
border-style:solid;
border-width:1px;
height:420px;
left:0;
overflow:auto;
padding-left:1em;
position:absolute;
text-align:left;
top:50px;
width:480px;
}

.final,.final1 {
cursor:pointer;
}

.footer {
background-color:rgb(132,195,156);
border-color:rgb(74,140,110);
border-width:1px;
border-style:solid;
height:30px;
left:10px;
position:absolute;
text-align:center;
top:580px;
width:1000px;
}

.fourth {
background-color:rgb(132,195,156);
border-color:rgb(74,140,110);
border-style:solid;
border-width:3px;
font-weight:bold;
height:25px;
left:0;
position:absolute;
text-align:left;
top:20px;
width:790px;
}

.inner {
background-color:rgb(241,241,241);
border-color:rgb(132,195,156);
border-style:solid;
border-width:1px;
border-top:none;
border-bottom:none;
height:550px;
left:10px;
padding-left:8px;
position:absolute;
text-align:left;
top:42px;
width:992px;
}

.legend .item {
font-size:11px;
}

.presql {
border-color:rgb(74,140,110);
border-style:solid;
border-width:1px;
font-weight:bold;
height:350px;
left:0;
position:absolute;
text-align:left;
top:70px;
width:1000px;
}

.remarkTextArea {
background-color:white;
border-style:solid;
border-width:1px;
height:200px;
overflow:auto;
padding-left:1em;
position:relative;
scrollbar-base-color:rgb(255,255,255);
text-align:left;
width:87%;
z-index:auto;
}

.result,.searchResult {
background-color:rgb(219,219,219);
border-color:rgb(132,195,156);
border-style:solid;
border-width:1px;
height:450px;
left:0;
overflow:auto;
padding-left:1em;
position:absolute;
text-align:left;
top:50px;
width:995px;
}

.second {
background-color:rgb(132,195,156);
border-color:rgb(74,140,110);
border-style:solid;
border-width:1px;
font-weight:bold;
height:30px;
left:10px;
position:absolute;
text-align:left;
top:10px;
width:1000px;
}

.second  img {
background:white;
vertical-align:middle;
padding:5px;
height:20px;
}
.selectColor,.selectColorForPathology {
background-color:rgb(208,232,217);
color:rgb(255,201,129);
}

.selected {
background-color:rgb(219,219,219);
border-color:rgb(132,195,156);
border-style:solid;
border-width:1px;
padding-buttom:20px;
text-align:left;
}

.showDetails {
background-color:rgb(219,219,219);
border-color:rgb(132,195,156);
border-style:solid;
border-width:1px;
border-top:none;
border-bottom:none;
height:538px;
left:460px;
overflow:auto;
padding-left:1em;
position:absolute;
text-align:left;
top:42px;
width:537px;
}

.sparql {
background-color:rgb(219,219,219);
border-color:rgb(132,195,156);
border-style:solid;
border-width:1px;
height:450px;
left:0;
overflow:auto;
padding-left:1em;
position:absolute;
text-align:left;
top:50px;
width:780px;
}

.third {
background-color:rgb(132,195,156);
border-color:rgb(74,140,110);
border-style:solid;
border-width:3px;
font-weight:bold;
height:25px;
left:0;
position:absolute;
text-align:left;
top:20px;
width:490px;
}

.treeview .collapsable {
background-image:url(images/tv-collapsable.gif);
}

.treeview .expandable {
background-image:url(images/tv-expandable.gif);
}

.treeview .last {
background-image:url(images/tv-item-last.gif);
}

.treeview .lastCollapsable {
background-image:url(images/tv-collapsable-last.gif);
}

.treeview .lastExpandable {
background-image:url(images/tv-expandable-last.gif);
}

.treeview,.treeview ul {
list-style:none;
margin:0;
padding:0;
}

.unselectColor,.unselectColorForPathology {
color:black;
}

.unselected {
background-color:rgb(241,241,241);
border-style:none;
padding:0;
text-align:left;
}

A {
color:black;
}

BUTTON.addProc {
left:10px;
}

INPUT.applyCode {
background-color:rgb(208,232,217);
border-buttom-color:rgb(74,140,110);
border-buttom-style:solid;
border-buttom-width:2px;
border-left-style:none;
border-right-style:none;
border-top-style:none;
font-size:10px;
font-weight:bold;
left:10px;
position:absolute;
top:500px;
width:120px;
}

BUTTON.applyProcedure {
background-color:rgb(208,232,217);
border-buttom-color:rgb(74,140,110);
border-buttom-style:solid;
border-buttom-width:2px;
border-left-style:none;
border-right-style:none;
border-top-style:none;
font-size:10px;
font-weight:bold;
left:10px;
position:relative;
top:20px;
width:130px;
}

BUTTON.generalButtonClass {
background-color:rgb(208,232,217);
font-size:10px;
font-weight:bold;
}

.querysql {
background-color:rgb(208,232,217);
border-buttom-color:rgb(74,140,110);
border-buttom-style:solid;
border-buttom-width:2px;
border-left-style:none;
border-right-style:none;
border-top-style:none;
font-size:10px;
font-weight:bold;
left:3px;
position:relative;
text-align:center;
top:5px;
width:100px;
}

BUTTON.search {
background-color:rgb(208,232,217);
border-buttom-color:rgb(74,140,110);
border-buttom-style:solid;
border-buttom-width:2px;
border-left-style:none;
border-right-style:none;
border-top-style:none;
font-size:10px;
font-weight:bold;
left:3px;
position:relative;
top:5px;
width:60px;
}

BUTTON.select {
border-style:none;
}

BUTTON.validate {
background-color:rgb(208,232,217);
border-buttom-color:rgb(74,140,110);
border-buttom-style:solid;
border-buttom-width:2px;
border-left-style:none;
border-right-style:none;
border-top-style:none;
font-size:10px;
font-weight:bold;
left:10px;
position:relative;
top:5px;
width:100px;
}

DIV.criteriaList {
height:90px;
left:8px;
overflow-x:hidden;
overflow-y:auto;
top:100px;
}

DIV.drugDetail {
font-size:85%;
height:200px;
margin:0 auto;
overflow-x:hidden;
overflow-y:auto;
position:relative;
top:20px;
width:99%;
}

DIV.drugname {
background-color:white;
border-style:solid;
border-width:1px;
font-size:80%;
height:280px;
left:20px;
overflow:auto;
padding-left:1em;
position:absolute;
scrollbar-base-color:rgb(255,255,255);
text-align:left;
top:210px;
width:200px;
z-index:auto;
}

DIV.sdtm {
background-color:white;
border-style:solid;
border-width:1px;
font-size:80%;
height:280px;
left:20px;
overflow:auto;
padding-left:1em;
position:absolute;
scrollbar-base-color:rgb(255,255,255);
text-align:left;
top:190px;
width:200px;
z-index:auto;
}

DIV.infoContainer {
height:150px;
margin:0 auto;
position:relative;
top:20px;
width:99%;
}

DIV.policygrp {
position:relative;
top:300px;
}

DIV.property {
background-color:white;
border-style:solid;
border-width:1px;
font-size:80%;
height:280px;
left:280px;
overflow:auto;
padding-left:1em;
position:absolute;
scrollbar-base-color:rgb(255,255,255);
text-align:left;
top:210px;
width:200px;
z-index:auto;
}

DIV.sdtmprop {
background-color:white;
border-style:solid;
border-width:1px;
font-size:80%;
height:280px;
left:280px;
overflow:auto;
padding-left:1em;
position:absolute;
scrollbar-base-color:rgb(255,255,255);
text-align:left;
top:190px;
width:200px;
z-index:auto;
}


DIV.scrolldiv {
height:180px;
left:8px;
overflow:auto;
position:relative;
top:20px;
width:420px;
}

DIV.tableContainer {
font-size:85%;
height:150px;
margin:0 auto;
overflow:auto;
position:relative;
top:20px;
width:99%;
}

HR.position {
bordercolor:rgb(132,195,156);
left:20px;
position:absolute;
top:440px;
width:500px;
}

INPUT {
border-bottom-color:rgb(192,192,192);
border-bottom-width:2px;
border-style:none none solid;
font-size:85%;
font-weight:bold;
padding-left:3px;
text-align:left;
}

INPUT.reason {
font-weight:bold;
position:relative;
top:10px;
width:95%;
}

INPUT.spatient {
font-size:85%;
width:90%;
}

LI.mouserOutColor {
background-color:white;
color:white;
}

LI.mouserOverColor {
background-color:rgb(208,232,217);
color:rgb(255,201,221);
cursor:pointer;
}

SELECT {
background-color:white;
font-size:80%;
font-weight:bold;
width:80%;
}

TABLE.indicationTable {
height:150px;
position:relative;
top:0;
}

TD.CODELIST {
align:center;
nowrap:true;
}

THEAD.title {
background-color:rgb(192,192,192);
}

TR.hovered,TR.codehovered {
background-color:rgb(255,201,129);
cursor:pointer;
}

TR.list,TR.codelist,TR.procedurelist {
background-color:white;
}

TR.procedureSelected {
background-color:rgb(255,201,129);
}

TR.procedurehovered {
background-color:white;
cursor:pointer;
}

body {
background-color:rgb(241,241,241);
font-family:verdana, sans-serif;
font-size:80%;
font-weight:bold;
margin:0;
over-flow:auto;
}

h2 {
font-size:90%;
font-weight:bold;
}

h3 {
font-size:85%;
font-weight:bold;
}

table {
cellspacing:0;
font-size:90%;
width:100%;
}

table.breakShowStyle {
table-layout:fixed;
}

table.fixed {
width:95%;
}

table.fixed thead td {
background-color:rgb(192,192,192);
border-bottom:solid 1px rgb(192,192,192);
border-top:solid rgb(192,192,192) 1px;
font-weight:bold;
position:relative;
text-align:center;
top:expression(document.getElementById("SPList").scrollTop-2);
}

td.showStyle {
overflow:hidden;
word-wrap:break-word;
}

tfoot>td {
text-align:right;
}

tr.title {
background-color:rgb(192,192,192);
border-bottom:solid 1px rgb(192,192,192);
border-top:solid rgb(192,192,192) 1px;
font-weight:bold;
position:relative;
text-align:center;
}

ul.dir li {
padding:2px 0 0 16px;
}

@media print {
div.tableContainer,table>tbody {
overflow:visible;
}

tfoot {
display:table-footer-group;
}

tfoot td {
border-bottom:solid 1px slategray;
font-size:9pt;
text-align:center;
}

thead {
display:table-header-group;
}

thead th,thead td {
position:static;
}
}